.navigation-section {
    margin-top: 25px;
    .navigation-btn {
        border: 1px solid #000;
        padding: 10px;
        padding-right: 25px;
        padding-left: 25px;
        border-radius: 50px;
    }
    .glyph-left-pad-10 {
        padding-left: 10px;
    }
    .glyph-right-pad-10 {
        padding-right: 10px;
    }
}
