/* @imports */
@import 'navigation';

.__font-family {
    font-family: 'Roboto', sans-serif;
}

/* reset margin on p tags */
p {
    margin-bottom: 0px;
}

.para {
    @extend .__font-family;
}

.container-sm {
    margin: auto 50px;
}

.calendar-block {
    border-radius: 7px;
    background: rgba(243, 74, 74, 0.85);
    margin:10px;
    width:12%;
    display:inline-block;
    height:auto;
    @media (min-width: 768px) and (max-width: 1024px) {
        width: 30%;
    }
    @media screen and (max-width: 768px) {
        margin: 20px;
        display:block;
        width: 90%;
    }
    .month-name {
        @extend .__font-family;
        font-size: 35px;
    }
    .day-display {
        @extend .__font-family;
        color: #fff;
        font-size: 25px;
        padding: 5px;
        padding-left: 20px;
    }

    .events {
        padding:25px;
        background: #FFF;
        border: 1px solid #efefef;
    }

    .events
    .events-title {
        @extend .__font-family;
        font-size:20px;
    }

}

.calendar-block
.today-text {
    @extend .__font-family;
    font-size: 15px;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    font-weight:bold;
}

.calendar-block
.current-day-display {
    color: #000;
}

.current-day {
    background: rgba(209, 236, 216, 0.65);
    border: 3px solid rgba(209, 236, 216, 0.65);
    .events {
        padding: 40px;
    }
}

.week-day {
    width:12%;
    margin:10px;
    display: inline-block;
    text-align:center;
}
